:root {
  --azulOscuro: #6096B4;
  --azul: #93BFCF;
  --azulClaro: #BDCDD6;
  --beige: #EEE9DA;
  --fuente: 'Roboto Condensed', sans-serif;
}

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: var(--azulOscuro);
  line-height: 2;
}

h1 {
  font-family: var(--fuente);
  text-align: center;
  font-size: 45px;
}

h2 {
  font-family: var(--fuente);
  text-align: center;
}

img { max-width: 20%; }

.container {
  /* max-width: 1200px;
  width: 85%; */
  width: min(90%, 1200px);
  margin: 0 auto;
}

/* App */
.header { 
  background-color: var(--azulClaro);
  border-radius: 10px;
}

.header h1 {
  padding: 25px 0;
  margin: 0;
  color: black;
  text-align: center;
}

.sombra {
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--beige);
  padding: 25px;
  border-radius: 10px;
}

.principal {
  margin-top: -5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(5rem);
}

li {
  list-style: none;
  cursor: pointer;
  font-family: var(--fuente);
  font-weight: 400;
  font-size: 25px;
}
/* App */


/* BUSCAR */
.card {
  background-color: var(--azulClaro);
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
}

.card input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 40px;
  font-family: var(--fuente);
  font-size: 20px;
}

hr { border: solid var(--azul);}

.boton {
  border: none;
  padding: 15px;
  font-family: var(--fuente);
  background-color: var(--azulOscuro);
  color: white;
  border-radius: 5px;
}
/* BUSCAR */


/* VER */
.lista {
  background-color: var(--azulClaro);
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.texto {
  font-family: var(--fuente);
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}

.titulo {
  color: black;
  font-family: var(--fuente);
  font-weight: 600;
  margin-bottom: 40px;
}

/* VER */



